* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #040718;
}

/* header */

header {
    padding-top: 2vw;
    background-image: url("img/fondo-header.png");
    background-position: left;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-1 {
    display: flex;
    align-items: center;
}

.header-1 div {
    display: flex;
    align-items: center;
}

.logo-tm {
    width: 90px;
}

.menu-hamburguesa {
    display: none;
}

.header-1 div nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0px 6vw 0px 8vw;
}

.header-1 div nav ul li a {
    font-size: 20px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.header-1 div nav ul li a:hover {
    color: blueviolet;
}

.cv a {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    gap: 5px;
    border: 2px solid white;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.cv a:hover {
    background-color: #000312;
    border-color: blueviolet;
}

.cv a p {
    font-size: 20px;
}

.header-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0vw 9.3vw;
}

.textos-header-1 p {
    font-size: clamp(0.7rem, 2vw + 0.7rem, 1.88rem);
}

.textos-header-1 h1 {
    margin: 10px 0px 5px;
    font-size: clamp(1.5rem, 2vw + 1.5rem, 3.75rem);
}

.textos-header-1 h2 {
    font-size: clamp(0.6rem, 2vw + 0.6rem, 1.5rem);
}

.textos-header-2 {
    margin: 2.6vw 0px 20px;
}

.textos-header-2 a {
    font-size: clamp(0.7rem, 2vw + 0.7rem, 1.88rem);
    color: blueviolet;
    font-weight: bold;
}

.textos-header-2 p {
    font-size: clamp(0.5rem, 2vw + 0.5rem, 1.25rem);
    margin: 0.8vw 0px 2vw;
    line-height: 30px;
}

.redes-sociales {
    display: flex;
    list-style: none;
    gap: 30px;
}

.redes-sociales a img {
    outline: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 20px;
    transition: all 0.2s ease;
}

.redes-sociales a img:hover {
    border: none;
    outline: none;
    background-color: blueviolet;
}

.imagen-tomas {
    filter: grayscale(30%);
}

/* main section 1 */

.margin-sections {
    margin: 6vw 0px;
}

.titulos-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulos-sections p {
    font-size: clamp(0.4rem, 2vw + 0.4rem, 1.25rem);
    margin: 20px 0px 10px;
    opacity: 0.7;
}

.titulos-sections h2 {
    font-size: clamp(1rem, 2vw + 1rem, 3.13rem);
}

.listado-info-personal {
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: clamp(0.35rem, 2vw + 0.35rem, 1.25rem);
    margin: 3vw;
    flex-wrap: wrap;
}

.listado-info-personal div {
    display: flex;
}

.listado-info-personal div ul:nth-child(odd) li {
    padding-right: 0vw;
    border-radius: 10px 0px 0px 10px;
}

.listado-info-personal div ul:nth-child(even) li {
    border-radius: 0px 10px 10px 0px;
}

.listado-info-personal div ul li {
    list-style: none;
    padding: 23px 4.9vw 23px 2vw;
    border-radius: 10px;
}

.listado-info-personal div ul li:nth-child(2n + 1) {
    background-color: #111425;
}

.listado-info-personal picture img {
    border-radius: 10px;
    filter: grayscale(60%);
}

/* main section 2 */

.section-2 {
    background-image: url("img/fondo-servicios.png");
    background-size: cover;
    padding: 6vw 4vw;
}

.div-cards-mis-servicios {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    text-align: center;
    flex-wrap: wrap;
}

.cards-mis-servicios {
    width: 400px;
    background-color: #111425;
    padding: 2vw;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    cursor: default;
}

.cards-mis-servicios:hover {
    outline: 3px solid blueviolet;
    background-color: #000312;
}

.cards-mis-servicios img {
    transition: all 0.5s ease-in-out;
}

.cards-mis-servicios:hover img {
    filter: grayscale(100%) invert(1) brightness(1.3);
}

.cards-mis-servicios h3 {
    font-size: clamp(0.8rem, 2vw + 0.8rem, 1.56rem);
    margin: 10px 0px 10px;
}

.cards-mis-servicios p {
    font-size: clamp(0.4rem, 2vw + 0.4rem, 1rem);
    color: #949596;
}

/* main section 3 */

.input-radio {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.input-radio li {
    display: flex;
    align-items: center;
    text-align: center;
}

.input-radio li input {
    appearance: none;
    width: 2em;
    height: 2em;
    background-color: #111425;
    border-radius: 50%;
    transition: .4s ease-in-out;
}

.input-radio li input:hover {
    scale: 1.2;
    cursor: pointer;
}

.input-radio li .circulo-input-radio {
    position: relative;
    top: 0.01em;
    left: -1.1em;
    width: 0.6em;
    height: 0.6em;
    background-color: blueviolet;
    scale: 0;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.input-radio li input:checked {
    box-shadow: none;
    border: 1px solid blueviolet;
}

.input-radio li input:checked+.circulo-input-radio {
    transform: rotate(360deg);
    scale: 1;
}

.input-radio li label {
    opacity: 0.7;
    font-size: clamp(0.3rem, 2vw + 0.3rem, 1rem);

}

.zonas-cards-portfolio {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px;
    flex-wrap: wrap;
}

.zonas-cards-portfolio div {
    display: flex;
    align-items: center;
}

.zonas-cards-portfolio div img {
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.zonas-cards-portfolio div:hover img {
    filter: opacity(0.6);
}

.zonas-cards-portfolio div p {
    position: absolute;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    font-style: italic;
    width: 350px;
    margin-left: 1%;
    cursor: pointer;
    color: transparent;
    transition: all 0.2s ease;
}

.zonas-cards-portfolio div p span {
    color: transparent;
    transition: all 0.2s ease;
}

.zonas-cards-portfolio div:hover p {
    display: block;
    color: white;
    text-shadow: 3px 3px 4px #000000;
}

.zonas-cards-portfolio div:hover .zcp-p1 span {
    color: #544ae0;
}

.zonas-cards-portfolio div:hover .zcp-p2 span {
    color: #f4cd83;
}

.zonas-cards-portfolio div:hover .zcp-p3 span {
    color: #599eff;
}

.zonas-cards-portfolio div:hover .zcp-p4 span {
    color: red;
}

.zonas-cards-portfolio div:hover .zcp-p5 span {
    color: #80b801;
}

.imagenes-smirnoff {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.imagenes-smirnoff img:nth-child(2) {
    width: 250px;
}

/* main section 4 */

.zona-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;
    gap: 4vw;
}

.cards-contacto {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.cards-contacto div {
    display: flex;
    padding: 20px;
    border: 3px solid blueviolet;
    border-radius: 20px;
    cursor: pointer;
}

.cards-contacto div img {
    width: 25%;
    height: 23%;
    padding: 25px;
    background-color: blueviolet;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.cards-contacto div img:hover {
    outline: 1px solid rgb(255, 255, 255, 0.3);
    background-color: transparent;
}

.cards-contacto div div {
    text-align: start;
    gap: 10px;
    border: none;
    flex-direction: column;
}

.cards-contacto div div p:nth-child(1) {
    font-size: clamp(0.4rem, 2vw + 0.4rem, 1.25rem)
}

.cards-contacto div div p:nth-child(2) {
    color: #949596;
    font-size: clamp(0.4rem, 2vw + 0.4rem, 1rem)
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
    padding: 50px;
    background-color: #111425;
    border-radius: 20px;
    width: 800px;
}

.formulario input {
    width: 100%;
    padding: 20px;
    background-color: #111425;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    font-size: clamp(0.4rem, 2vw + 0.4rem, 1rem);
    color: #949596;
}

.formulario-mail-telefono {
    width: 100%;
    gap: 20px;
    display: flex;
}

.boton-desplegable-form {
    position: relative;
    padding: 20px;
    color: #757575;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    text-align: start;
    cursor: pointer;
    font-size: clamp(0.4rem, 2vw + 0.4rem, 1rem);
}

.boton-desplegable-form img {
    position: absolute;
    top: 25%;
    left: 93%;
    width: 30px;
    rotate: 180deg;
    padding: 10px;
    border-radius: 50px;
    outline: 1px solid rgb(255, 255, 255, 0.3);
    transition: all 0.2s ease;
}

.boton-desplegable-form img:hover {
    background-color: blueviolet;
    outline: none;
}

/* .boton-desplegable-form img:focus {
    transform: rotate(180deg);
} */

.menu-opciones-form {
    width: 100%;
    background-color: none;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 5px;
    display: none;
    list-style-type: none;
    z-index: 1;
    max-height: 190px;
    border-radius: 30px;
}

.menu-opciones-form li {
    margin-bottom: 5px;
}

.menu-opciones-form li label {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    color: #757575;
}

.menu-opciones-form li input[type="checkbox"] {
    appearance: none;
    margin: 0;
    padding: 5px;
    width: 13px;
    height: 13px;
    border: 2px solid #767676;
    border-radius: 3px;
    cursor: pointer;
}

.menu-opciones-form li input[type="checkbox"]:checked {
    background-color: blueviolet;
    background-image: url("./img/icono-checked.png");
    background-size: cover;
    border: 2px solid #8a2be2;
}

.formulario textarea {
    height: 200px;
    padding: 20px;
    color: #757575;
    background-color: #111425;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    font-size: clamp(0.4rem, 2vw + 0.4rem, 1rem);
    overflow: hidden;
    resize: none;
}

.formulario input[type="submit"] {
    color: white;
    border: none;
    background: linear-gradient(to bottom right, #8e36ef, #441adc);
    box-shadow: 0px 4px 0px #4a098b;
    width: 240px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.formulario input[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #4a098b;
}

.formulario input[type="submit"]:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to top left, #8e36ef, #441adc);
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vw 0px 2.5vw;
    /* background-image: url("img/fondo-footer.jpg");
    background-position: bottom;
    background-size: cover; */
    background-color: #040718;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-1 p {
    margin: 10px 5vw 15px;
    font-size: clamp(0.4rem, 2vw + 0.4rem, 1.13rem);
    text-align: center;
}

.redes-sociales-footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px;
    padding: 15px;
    border: 3px solid blueviolet;
    border-radius: 50px;
}

.redes-sociales-footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.redes-sociales-footer img {
    background-color: blueviolet;
    border-radius: 50px;
    padding: 15px;
    transition: all 0.2s ease;
}

.redes-sociales-footer img:hover {
    outline: 1px solid rgb(255, 255, 255, 0.3);
    background-color: transparent;
}

.redes-sociales-footer p {
    margin-left: 10px;
    font-size: clamp(0.4rem, 2vw + 0.4rem, 1.25rem);
}

.copyright p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 80vw;
    font-size: clamp(0.3rem, 2vw + 0.3rem, 1rem);
}

/* Flecha hacia arriba */

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-top-button {
    width: 0;
    height: 0;
    background: #757575;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

.go-top-button img {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
}

.show {
    z-index: 2;
}

.show .go-top-button {
    width: 4.5rem;
    height: 4.5rem;
    animation: gtb 0.3s ease-in-out;
}

.show img {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes gtb {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        width: 6.5rem;
        height: 6.5rem;
    }

    100% {
        width: 4.5rem;
        height: 4.5rem;
    }
}

/* Responsive */

@media all and (max-width: 1100px) {

    .header-1 {
        gap: 30vw;
        align-items: start;
        margin: 2vw 2vw 0vw;
    }

    .header-1 div {
        flex-direction: column;
        align-items: end;
        gap: 40px;
    }

    .menu-hamburguesa {
        display: block;
        margin-top: 15px;
        cursor: pointer;
    }

    .header-1 div nav ul {
        flex-direction: column;
        gap: 40px;
        margin: 0px;
        text-align: end;
    }

    .cv a {
        margin-bottom: 100px;
        padding: 15px 30px;
        gap: 5px;
    }

    .header-2 {
        gap: 0vw 13vw;
        margin: 0px 50px;
    }

    .textos-header-1 {
        text-align: center;
    }

    .textos-header-2 {
        text-align: center;
    }

    .redes-sociales {
        justify-content: center;
        margin-bottom: 5vw;
    }

    .go-top-container {
        right: 3rem;
    }

}

@media all and (max-width: 700px) {

    .input-radio li {
        flex-direction: column;

    }

    .input-radio li .circulo-input-radio {
        position: relative;
        top: -1.1em;
        left: 0em;
        width: 0.6em;
        height: 0.6em;
    }

    .formulario {
        padding: 30px;
    }

    .boton-desplegable-form img {
        left: 90%;
    }

    .go-top-container {
        right: 2rem;
    }

}

@media all and (max-width: 500px) {

    .header-1 div,
    .header-1 div nav ul {
        gap: 30px;
    }

    .header-1 div nav ul li a,
    .cv a p {
        font-size: 15px;
    }

    .cv a {
        padding: 10px 20px;
        gap: 5px;
        border: 1px solid white;
    }

    .redes-sociales a img {
        padding: 15px;
    }

    .cards-mis-servicios {
        padding: 30px;
    }

    .input-radio {
        gap: 10px;
    }

    .go-top-container {
        right: 1rem;
    }

    .show .go-top-button {
        width: 3.5rem;
        height: 3.5rem;
    }
}